
@import url("./components/button.css");
@import url("./components/header.css");
@import url("./components/form.css");
@import url("./components/footer.css");




body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #f4f7fb; 
  color: #333;
  line-height: 1.6;
}




