
@import url("./components/button.css");
@import url("./components/header.css");
@import url("./components/form.css");
@import url("./components/footer.css");




body {
  background: linear-gradient(135deg, #b3e5fc, #e0f7fa);
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.icono {
  width: 80px;  
  height: auto;  
  margin: 0 8px; 
  vertical-align: middle; 
}




