/* Creo button.css*/

/* Botón Agregar */
button.btn-agregar {
  background: linear-gradient(135deg, #007bff, #0056b3); /* azul moderno */
  color: #fff;
  font-size: 18px; 
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}
button.btn-agregar:hover {
  background: #004080; 
}



/* Estilos para la lista de tareas */
.lista-tareas li span {
  font-size: 20px;
}
.lista-tareas li span {     /*para que el texto ocupe todo el renglon y los botones queden en la derecha */
  flex: 1; 
}
.lista-tareas li span {
  text-transform: uppercase;   /* pongo todas las tareas en mayúscula */
  font-size: 18px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}



/* Contenedor de cada tarea: texto a la izquierda, botones a la derecha */
.lista-tareas li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.lista-tareas li {
  display: flex;
  justify-content: space-between; /* texto a la izquierda, botones juntos a la derecha */
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}






/*  botón completar */
.lista-tareas li button:first-of-type {     /* selecciona el primer botón  de la lista (del renglon)*/
  background: #28a745;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px 0 0 4px; 
  cursor: pointer;
  font-size: 20px;
}

/*  botón eliminar */
.lista-tareas li button:last-of-type {    /* selecciona el último botón de la lista (del renglon)*/
  background: #dc3545;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 0 4px 4px 0; 
  cursor: pointer;
  font-size: 20px;
}



/*estilos para los botones de limpiar la ultima, limpiar comopletadas y limpiar todo*/


button.btn-limpiar-ultima{
  background: #ffc107;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px; 
}


button.btn-limpiar-completadas {
  background: #17a2b8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px; 
}


button.btn-limpiar-todas {
  background: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}


button.btn-limpiar-todas:hover {
  background: #c82333;
}

button.btn-limpiar-completadas:hover {
  background: #138496;
}

button.btn-limpiar-ultima:hover {
  background: #e0a800;
}

footer button {
  border-radius: 30px;   
  padding: 12px 24px;    
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease; }

footer button:hover {
  transform: translateY(-2px);}