
/* Botón Agregar */
button.btn-agregar {
  background: linear-gradient(135deg, #007bff, #0056b3); /* azul moderno */
  color: #fff;
  font-size: 18px; 
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}
button.btn-agregar:hover {
  background: #004080; 
}


.lista-tareas li button:nth-of-type(1){     
  background: #28a745;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 50px; 
  cursor: pointer;
  font-size: 20px;
}
.lista-tareas li button:nth-of-type(2){     
  background: hsl(13, 88%, 54%);
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 50px; 
  cursor: pointer;
  font-size: 20px;
}

/* botones de impiar completadas y limpiar todas*/


button.btn-limpiar-completadas {
  background: #17a2b8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px; 
}


button.btn-limpiar-todas {
  background: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}


button.btn-limpiar-todas:hover {
  background: #c82333;
}

button.btn-limpiar-completadas:hover {
  background: #138496;
}


footer button {
  border-radius: 30px;   
  padding: 12px 24px;    
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease; }

footer button:hover {
  transform: translateY(-2px);}