/* Creo form.css*/

label {
  display: block;
  font-weight: 600;
  color: #333;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 20px;
  box-sizing: border-box;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #b3e5fc; 
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}


